@import "tailwindcss";

@theme {
  /* Box Shadow */
  --shadow-center: 0 5px 15px 0 rgba(0, 0, 0, 0.15);

  /* Custom Colors - Sybil legacy */
  --color-sblue-200: #a0c7fe;
  --color-sgray-100: #eef0ef;
  --color-sgray-500: #454e59;
  --color-sgray-800: #121417;
  --color-sgreen-200: #d8ffa4;
  --color-sgreen-600: #142900;

  /* Custom Colors - Manifold (mf) */
  --color-mf-new-500: #1e1f26;
  --color-mf-new-600: #1a1b20;
  --color-mf-new-700: #15161b;
  --color-mf-new-800: #14151a;
  --color-mf-new-900: #121318;

  --color-mf-safety-300: #ff9b7a;
  --color-mf-safety-500: #ff8159;
  --color-mf-safety-700: #d96547;

  --color-mf-ash-300: #3a3c46;
  --color-mf-ash-500: #22242e;
  --color-mf-ash-700: #17181f;

  --color-mf-night-300: #2a2c33;
  --color-mf-night-500: #191b20;
  --color-mf-night-700: #101114;

  --color-mf-silver-300: #e1e5eb;
  --color-mf-silver-500: #c5dbff;
  --color-mf-silver-700: #a3b5d6;

  --color-mf-milk-100: #e6f0ff;
  --color-mf-milk-300: #e0ebff;
  --color-mf-milk-500: #d7e5ff;
  --color-mf-milk-700: #aec0d6;

  --color-mf-edge-500: #c5dbff;

  --color-mf-blue-300: #aad6ff;
  --color-mf-blue-500: #7bc1ff;
  --color-mf-blue-700: #52abff;
  --color-mf-blue-900: #225d94;

  --color-mf-green-100: #b1fadf;
  --color-mf-green-500: #57e8b4;
  --color-mf-green-700: #37c492;
  --color-mf-green-900: #15382c;

  --color-mf-red: #ff5a5a;
  --color-mf-grey: #8997ad;
  --color-mf-gray: #98a1b2;
  --color-mf-white: #f2f7ff;
  --color-mf-gray-600: #475467;

  /* Font Families */
  --font-family-body: var(--font-poppins);
  --font-family-tomorrow: var(--font-tomorrow);
  --font-family-saira: var(--font-saira);
  --font-family-poppins: var(--font-poppins);

  /* Animations */
  --animate-fade-in: fade-in 1s ease-in;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Animations from tailwindcss-animated */
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@layer utilities {
  .animate-shake {
    animation: shake 0.5s;
  }

  .animate-duration-300 {
    animation-duration: 300ms !important;
  }

  .animate-in {
    animation-name: var(--tw-enter-animation-name, none);
    animation-duration: 150ms;
    animation-fill-mode: both;
  }

  .fade-in {
    --tw-enter-animation-name: fade-in;
  }

  .zoom-in {
    --tw-enter-animation-name: zoom-in;
  }

  /* Support for combining animations */
  .animate-in.fade-in {
    animation-name: fade-in;
  }

  .animate-in.zoom-in {
    animation-name: zoom-in;
  }

  .animate-in.fade-in.zoom-in {
    animation-name: fade-in, zoom-in;
  }
}

@plugin "@tailwindcss/typography";
@plugin "@headlessui/tailwindcss";

::-webkit-scrollbar {
  --bar-width: 5px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(190 190 190 / 36%);
  border-radius: 20px;
  background-clip: content-box;
  border: 1px solid transparent;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .scrollbar {
    -ms-overflow-style: auto; /* IE and Edge */
    scrollbar-width: auto; /* Firefox */
  }

  .scrollbar::-webkit-scrollbar {
    display: block;
  }
}

@keyframes animateBefore {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(200px) scale(0.8);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes animateAfter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-250px) scale(1.2);
  }
  100% {
    transform: translateX(0);
  }
}

.hljs {
  color: #adbac7;
  background: #1f2937;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: #f47067;
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: #dcbdfb;
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  /* prettylights-syntax-constant */
  color: #6cb6ff;
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: #96d0ff;
}

.hljs-built_in,
.hljs-symbol {
  /* prettylights-syntax-variable */
  color: #f69d50;
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  /* prettylights-syntax-comment */
  color: #768390;
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: #8ddb8c;
}

.hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: #adbac7;
}

.hljs-section {
  /* prettylights-syntax-markup-heading */
  color: #316dca;
  font-weight: bold;
}

.hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: #eac55f;
}

.hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: #adbac7;
  font-style: italic;
}

.hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: #adbac7;
  font-weight: bold;
}

.hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: #b4f1b4;
  background-color: #1b4721;
}

.hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: #ffd8d3;
  background-color: #78191b;
}
